<div class="container">
    <h1>Registration Form</h1>
    <form class="register" [formGroup]="registerFormGroup" (ngSubmit)="handleRegister()">
        <div class="form-group mb-3">
            <input formControlName="email" class="form-control" type="email" name="email" id="email"
                placeholder="ivan.ivanov@gmail.com" required>
        </div>

        <ng-container *ngIf="registerFormGroup.controls['email'].touched && registerFormGroup.controls['email'].invalid">
            <p *ngIf="registerFormGroup.controls['email'].errors?.['required']"  class="alert alert-danger">
              Email is required!
            </p>
      
            <p *ngIf="registerFormGroup.controls['email'].errors?.['email']" class="alert alert-danger">
              Email is not valid!
            </p>
          </ng-container>


        <div class="form-group mb-3">
            <input formControlName="password" class="form-control" type="password" name="password" id="password"
                placeholder="******" />
        </div>

        <ng-container *ngIf="registerFormGroup.controls['password'].touched && registerFormGroup.controls['password'].invalid">
            <p *ngIf="registerFormGroup.controls['password'].errors?.['required']" class="alert alert-danger">
              Password is required!
            </p>
            <p *ngIf="registerFormGroup.controls['password'].errors?.['minlength']" class="alert alert-danger">
              Password must be at least 6 characters long!
            </p>
          </ng-container>

        <div>
            <p class="text-danger">{{firebaseErrorMessage}}</p>
        </div>

        <button [disabled]="registerFormGroup.invalid" class="btn btn-outline-secondary mb-3">Create Account</button>

        <p class="text-center">
            Have an account?
            <a routerLink="/login">Log In</a>
        </p>

    </form>
</div>