<form class="container">
    <h1>Registration Form</h1>
    <form>
        <div class="form-group mb-3">
            <input [(ngModel)]="email" class="form-control" type="email" name="email" id="email"
                placeholder="ivan.ivanov@gmail.com" required>
        </div>
        <div class="form-group mb-3">
            <input [(ngModel)]="password" class="form-control" type="password" name="password" id="password"
                placeholder="******" />
        </div>

        <div>
            <p class="text-danger">{{errorMessage}}</p>
        </div>

        <button type="button" class="btn btn-outline-secondary mb-3" (click)="signUp()">Create Account</button>

        <p class="text-center">
            Have an account?
            <a routerLink="/login">Log In</a>
        </p>

    </form>
</form>