<main class="container">

    <div class="left-column">
        <img class="active" src={{trip.imageUrl}} alt="">
    </div>

    <div class="right-column">
        <div @explainerAnim>
            <div class="col buttons mb-3" *ngIf="isLogged">
                <span class="edit" title="Click here to edit the record" (click)="editTrip()">
                    <fa-icon [icon]="faPencil"></fa-icon>
                </span>
                <span class="delete ms-3" title="Click here to delete the record" (click)="deleteTrip()">
                    <fa-icon [icon]="faDeleteLeft"></fa-icon>
                </span>
            </div>

            <div class="destination-name col mb-5">
                <h1>{{trip.destinationName}}</h1>
            </div>
            <div class="row align-items-start native-language">
                <div class="col">
                    <span>
                        <fa-icon [icon]="faLanguage"></fa-icon>
                    </span>
                </div>
                <div class="col">
                    <span>{{trip.nativeLanguage}}</span>
                </div>
            </div>

            <div class="row align-items-start native-language mb-5">
                <div class="col">
                    <span>
                        <fa-icon [icon]="faSackDollar"></fa-icon>
                    </span>
                </div>
                <div class="col">
                    <span>{{trip.localCurrency}}</span>
                </div>
            </div>

            <div class="destination-description col">
                <p class="col">Additional Information</p>
                <span class="col">{{trip.additionalInformation}}</span>
            </div>
        </div>
    </div>
</main>