<main class="container">

    <div class="left-column">
        <img class="active" src={{trip.imageUrl}} alt="">
    </div>

    <div class="right-column">
        <div class="destination-name mb-5">
            <h1>{{trip.destinationName}}</h1>
        </div>

        <div class="row align-items-start native-language">
            <div class="col">
                <span>
                    <fa-icon [icon]="faLanguage"></fa-icon>
                </span>
            </div>
            <div class="col">
                <span>{{trip.nativeLanguage}}</span>
            </div>
        </div>

        <div class="row align-items-start native-language mb-4">
            <div class="col">
                <span>
                    <fa-icon [icon]="faSackDollar"></fa-icon>
                </span>
            </div>
            <div class="col">
                <span>{{trip.localCurrency}}</span>
            </div>
        </div>

        <div *ngIf="trip.additionalInformation" class="destination-description">
            <p>Additional Information</p>
            <span>{{trip.additionalInformation}}</span>
        </div>
    </div>

</main>