main {
  background-color: #e3e4de;
}

a:link {
  text-decoration: none;
}

.nav-link:hover {
  background-color: lightgray;
}

.link {
  color: black;
}

.login {
  margin-right: 15px;
}

.logout {
  margin-left: 15px;
}

