<form class="container">
    <h1>Add new trip</h1>
    <form>
      <div class="form-group mb-3">
        <label for="destinationName">Destination name</label>
        <input type="text" class="form-control" id="destinationName" 
        required>
      </div>
      <div class="form-group mb-3">
        <label for="localCurrency">Local currency</label>
        <input type="text" class="form-control" id="localCurrency" 
        required>
      </div>
      <div class="form-group mb-3">
        <label class="form-label" for="customFile">Destination image</label>
        <input type="file" class="form-control" id="customFile" />
      </div>


      <button type="button" class="btn btn-outline-secondary">Add</button>

    </form>
  </form>