<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Trips you might be interested in...</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('../../../../assets/thailand.jpg');">
          <div class="d-flex flex-column p-4 text-white">
            <h2 class="pt-5 mt-4 lh-1 fw-bold">Thailand..</h2>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('../../../../assets/barcelona.jpg');">
          <div class="d-flex flex-column p-4 text-white">
            <h2 class="pt-5 mt-4 lh-1 fw-bold">Barcelona..</h2>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('../../../../assets/lisboa.jpg');">
          <div class="d-flex flex-column p-4 text-white">
            <h2 class="pt-5 mt-4 lh-1 fw-bold">Lisboa..</h2>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('../../../../assets/dubai.jpg');">
          <div class="d-flex flex-column p-4 text-white">
            <h2 class="pt-5 mt-4 lh-1 fw-bold">Dubai..</h2>
          </div>
        </div>
      </div>
    
    </div>
  </div>